.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    &:before,
    &.active:before {
        content: '';
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #1C1B21, rgba(28, 27, 33, 0.7) 60%, rgba(28, 27, 33, 0.01));
        z-index: -1;
        transition: all 0.5s ease;
    }
    &.active:before {
        top: 0;
    }

    &__container {
        max-width: rem(920);
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptive-value('padding-top', 30, 10, 1);
        @include adaptive-value('padding-bottom', 30, 10, 1);
    }
    &__list {
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include adaptive-value('column-gap', 56, 10, 1);
    }
    &__link {
        font-weight: 600;
        color: $mainColor;
        line-height: 27px;
        @include adaptive-value('font-size', 18, 14, 1);
        transition: all 0.3s ease;
        &:hover {
            text-decoration: underline;
        }
    }
    &__burger {
        display: none;
    }
}

.logo {
    position: relative;
    z-index: 3;
    &__link {
        display: flex;
        line-height: 0;
        @include adaptive-value('width', 223, 173, 1);
        @include adaptive-value('height', 60, 50, 1);
        justify-content: space-between;
    }
    &__brand {
        margin: 12px 0 6px;
    }
}

// =========== BURGER ============================================================

@media (max-width: $mobile) {
    body.lock {
        overflow: hidden;
    }

    .header {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #1C1B21, rgba(28, 27, 33, 0.7) 60%, rgba(28, 27, 33, 0.01));
            z-index: 2;
        }
        &__burger {
            display: block;
            position: relative;
            flex: 0 0 30px;
            height: 20px;
            z-index: 2;
            & span {
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease;
            }
            &::after,
            &::before {
                content: ("");
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease;
            }
            &::after {
                bottom: 0;
            }
            &::before {
                top: 0;
            }
        }

        &__burger.active span {
            transform: scale(0);
        }
        &__burger.active::before {
            transform: rotate(-45deg);
            top: 9px;
        }
        &__burger.active::after {
            transform: rotate(45deg);
            bottom: 9px;
        }

        &__menu {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            background-color: $bgColor;
            transition: all 0.3s ease;
            overflow: auto;
        }
        &__menu.active {
            right: 0;
        }
        &__list {
            display: block;
            flex-direction: column;
            text-align: center;
            padding-top: 90px;
            position: relative;
        }
        &__list li {
            margin: 0 0 20px 0;
        }
        &__link {
            font-size: 24px;
            line-height: 48px;
        }
    }
}