.page__tours {
    @include adaptive-value("margin-bottom", 180, 90, 1);
}
// .tours {
// }
.tours__container {
    position: relative;
    max-width: 1270px;
}
// .swiper {
// }
// .swiper-container {
// }
.tours__slider {
    max-width: 1110px;
}
// .swiper-wrapper {
// }
// .tours__slider--wrapper {
// }
.swiper-slide {
    height: auto;
}
// .tours__slider--slide {
// }
.tours__card {
    height: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    background: #2f2b2b;
    border-radius: 30px 0;
    justify-content: space-between;
    &__cover {
        position: relative;
        padding-bottom: 80%;
        @include adaptive-value("margin-bottom", 30, 15, 1);
        &--image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px 0;
        }
    }
    &__events-name {
        color: rgba(255, 255, 255, 0.5);
        font-size: rem(18);
        font-weight: 700;
        line-height: math.div(27, 18);
        @include adaptive-value("padding-left", 35, 15, 1);
        @include adaptive-value("margin-bottom", 20, 10, 1);
        padding-right: 10px;
    }
    &__events-place {
        @include adaptive-value("padding-left", 35, 15, 1);
        @include adaptive-value("margin-bottom", 30, 15, 1);
        padding-right: 10px;
        font-size: rem(18);
        font-weight: 500;
        line-height: math.div(27, 18);
        flex: 1 1 auto;
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__events-date {
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: rem(16);
        font-weight: 700;
        line-height: math.div(24, 16);
        text-transform: uppercase;
        flex: 0 1 50%;
    }
    &__button {
        text-align: center;
        color: #fff;
        font-size: rem(16);
        font-weight: 700;
        line-height: math.div(24, 16);
        text-transform: uppercase;
        border-radius: 30px 0;
        background: $violet;
        flex: 0 1 50%;
        padding: 18px 0;
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 0 0 10px $violet;
        }
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 60px;
    overflow: hidden;
    & svg g {
        transition: all 0.3s ease;
    }
    &:hover svg g {
        opacity: 1;
    }
    // color: var(--swiper-navigation-color, var(--swiper-theme-color));
    // width: calc(var(--swiper-navigation-size) / 44 * 27);
    // height: var(--swiper-navigation-size);
    // opacity: 0;
    // background-size: 23px 40px;
}

.prev,
.next {
    display: none;
}

@media (min-width: 1250px) {
    .tours__slider-button--next {
        display: none;
    }
    .tours__slider-button--prev {
        display: none;
    }
}
@media (min-width: 1250px) {
    .prev {
        display: flex;
        left: 15px;
        & svg g {
            transition: all 0.3s ease;
        }
        &:hover svg g {
            opacity: 1;
        }
    }
    .next {
        display: flex;
        right: 15px;
        & svg g {
            transition: all 0.3s ease;
        }
        &:hover svg g {
            opacity: 1;
        }
    }
}
